---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers

WarningsAsErrors: ''

HeaderFilterRegex: '(RayTracerLib|apps|Tests)/.*'

FormatStyle: 'file'

CheckOptions:
  - key:   cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value: 'true'
  - key:   modernize-use-auto.MinTypeNameLength
    value: '5'
